.answer {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.correct {
    background-color: #dff0d8;
}

.incorrect {
    background-color: #f2dede;
}

.btn-try-again {
    margin-top: 20px;
}

.answer {
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #1b1818;
    border-radius: 25px;  
}

div.answer p{
    font-size: 20px;
}





