.answer {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.correct {
    background-color: #d2f3c6;
}

.incorrect {
    background-color: #eebebe;
}

.btn-try-again {
    margin-top: 20px;
}

.answer {
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #1b1818;
    border-radius: 25px;  
}

div.answer p{
    font-size: 20px;
}

.green{
    -webkit-text-fill-color: rgb(28, 209, 28);
}

div.incorrect .red {
    -webkit-text-fill-color: red;
}





