body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-color: #ceeaff;
    background-size: 100% 100vh;
}

.navbar {
    background-color: #005c9f !important;
    padding: 20px 0px;
}

.navbar-nav li:hover>ul.dropdown-menu{
    display: block;
}

.dropdown-submenu{
    position: relative;
}

.dropdown-submenu>.dropdown-submenu{
    top:0;
    margin-top: -5px;
    left: 100%;
}