.BgColorBlue {
    background-color:#005c9f !important;
}       

.buttonNavBlue {
    top:50%;
    background-color:#0e99ff;
    color: #fff;
    border:none;
    border-radius:10px;
    padding-left: 10px;
  }

  .buttonNavGreen {
    top:50%;
    background-color:#14b81a;
    color: #fff;
    border:none;
    border-radius:10px;
    padding-left: 10px;
  }

  .buttonNavYellow {
    top:50%;
    background-color:#fecd29;
    color: rgb(12, 10, 10);
    border:none;
    border-radius:10px;
    padding-left: 10px;
  }

  .buttonNavPurple {
    top:50%;
    background-color : #a020f0;
    color: white;
    border:none;
    border-radius:10px;
    padding-left: 10px;
  }

  .TextELWColorWhite {
    -webkit-text-fill-color: white;
    border-radius: 70%;
    
  }

  .nav-item {
    margin-left: 10px;
  }

  .bt-center {
    width: 100%;
  }


  .dot {
    height: 50px;
    width: 50px;
    background-color: rgb(7, 6, 6);
    border-radius: 50%;
    display: inline-block;
  }

  .dropdown-menu li{
    position: relative;
  }

  .dropdown-menu .submenu{
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .dropdown-menu>li:hover>.submenu{
    display: block;
  }