#login{
    min-height: 91.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend.position-relative;
    @extend.text-center;


    .defalut-bg{
        @extend .background;
        color: #505050;
        
    }

    .login-box{
        max-width: 960px;
        margin: 0 auto;
        box-shadow: 0 0 35px rgba(0,0,0,0.1);
        border-radius: 10px;


        >.bg-img{
            padding: 0;
            border-radius: 10px 0 0 10px;
            background:rgba(0,0,0,0.7)url(https://cdn.discordapp.com/attachments/768084656465117227/1072811438403498064/ELW_2-removebg-preview.png) top left repeat;
            background-size: cover;
            top: 0;
            bottom: 0;
            opacity: 1;
        }
        





        .info{
            height: 450px;
            position: relative;

            >.logo{
                text-align: left;
                margin: 20px;

                >.nav-brand{
                    font-size: 22px;
                    @extend.font-bold;
                    color: #505050;
                }
            }

            >.btn-section{
                position: absolute;
                top: 86%;
                right: 0;
                margin-bottom: 0;

                .link-btn{
                    font-size: 12px;
                    @extend.font-bold; 
                }

                .link-btn.active{
                    background-color: #0a140a;
                    color: #fff;
                }

                > .btn-primary{
                    @extend.text-center;
                    background-color: #ffffff;
                    color: #0c0202;
                    line-height: 30px;
                    width: 100px;
                    text-transform: uppercase;
                    border-radius: 50px 0 0 50px;   
                    margin-bottom: 5px;
                    border: none;
                    &:focus{
                        outline: none;
                        box-shadow: none;

                    }
                }
            }

        }
    }

    /* login form styling */
    .form-section{
        @extend.text-center;
        max-width: 450px;
        margin: 0 auto;
        width: 100;

        >.title{
            margin:10px 0 50px 0;

            >.h2{
                font-size: 50px;
                @extend.font-bold;
                color: rgb(238, 17, 17);
            }
        }

        .login-inner-form{
            @extend.position-relative;
            color: rgb(20, 8, 8);


            .form-box{
                float:right;
                @extend.width-100;
                @extend.position-relative;

                //importing icons
                .icon{
                    position: absolute;
                    right: 25px;
                    top: 17px;
                }
                .icon.email::before{
                    @extend.font-awesome;
                    content:"\f0e0";
                }

                .icon.lock::before{
                    @extend.font-awesome;
                    @extend.font-bold;
                    content:"\f023";
                }

                .icon.user::before{
                    @extend.font-awesome;
                    @extend.font-bold;
                    content:"\f007";
                }

                //style input textbox
                >.input-text{
                    font-size:25px;
                    outline:none;
                    color: #616161;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    @extend.background;
                    box-shadow: 0 0 5px rgba(0,0,0,0.2);
                    padding: 11px 45px 11px 20px;
                    @extend.width-100;
                    margin-bottom: 10px;
                }
            }

            .primary-btn{
                background: rgb(216, 17, 17);
                @extend.width-100;
                border:none;
                color: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                padding: 10px 30px 9px 30px;
                cursor:pointer;
                height:45px;
                border-radius: 50px;
                margin-top: 20px;
                font-size: 20px;

                &:hover{
                    background: red;
                }
            }
        }


    }
}

